@font-face {
  font-family: 'Epidemic';
  src: url('fonts/Epidemic-Medium.woff') format('woff'), url('fonts/Epidemic-Medium.woff2') format('woff2'), url('fonts/Epidemic-Medium.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}